# Social Network Segmentation Analysis

In this exercise, we will try to identify different groups of teenagers based on their personal preferences using an unsupervised learning model.  
  
Start by importing your libraries, loading the dataset and exploring its variables.  
What features do you find? Do they have the correct datatypes?

In [44]:
#Import your libraries here
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import DBSCAN

pd.options.display.float_format = '{:.2f}'.format

In [45]:
#Load the dataset and explore its variables
df = pd.read_csv(r'C:\Users\floral02\Documents\lab-unsupervised-learning-deepdive\snsdata.csv')

In [46]:
df.shape

(30000, 40)

In [47]:
df.head()

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,2006,M,18.98,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2006,F,18.80,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2006,M,18.34,69,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2006,F,18.88,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,NaN,19.00,10,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1

In [20]:
df.dtypes

gradyear          int64
gender           object
age             float64
friends           int64
basketball        int64
football          int64
soccer            int64
softball          int64
volleyball        int64
swimming          int64
cheerleading      int64
baseball          int64
tennis            int64
sports            int64
cute              int64
sex               int64
sexy              int64
hot               int64
kissed            int64
dance             int64
band              int64
marching          int64
music             int64
rock              int64
god               int64
church            int64
jesus             int64
bible             int64
hair              int64
dress             int64
blonde            int64
mall              int64
shopping          int64
clothes           int64
hollister         int64
abercrombie       int64
die               int64
death             int64
drunk             int64
drugs             int64
dtype: object

In [48]:
df.describe()

,gradyear,age,friends,basketball,football,soccer,softball,volleyball,swimming,cheerleading,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
count,30000.00,24914.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,...,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00
mean,2007.50,17.99,30.18,0.27,0.25,0.22,0.16,0.14,0.13,0.11,...,0.10,0.26,0.35,0.15,0.07,0.05,0.18,0.11,0.09,0.06
std,1.12,7.86,36.53,0.80,0.71,0.92,0.74,0.64,0.52,0.51,...,1.94,0.70,0.72,0.47,0.35,0.28,0.62,0.44,0.40,0.35
min,2006.00,3.09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,2006.75,16.31,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,2007.50,17.29,20.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,2008.25,18.26,44.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
max,2009.00,106.93,830.00,24.00,15.00,27.00,17.00,14.00,31.00,9.00,...,327.00,12.00,11.00,8.00,9.00,8.00,22.00,14.00,8.00,16.00

In [32]:
df.corr()

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
gradyear,1.00,-0.06,-0.11,0.07,0.07,0.03,0.06,0.05,0.06,0.04,...,0.01,0.07,0.04,0.04,0.06,0.06,0.01,0.00,-0.02,0.01
gender,-0.06,1.00,0.03,-0.08,0.02,0.13,-0.01,-0.10,-0.08,-0.05,...,-0.02,-0.09,-0.21,-0.08,-0.05,-0.05,-0.01,-0.02,-0.02,-0.01
age,-0.11,0.03,1.00,-0.01,-0.02,-0.02,-0.01,-0.02,-0.02,-0.00,...,-0.00,-0.02,-0.03,-0.02,-0.01,-0.01,0.00,-0.00,0.00,-0.00
friends,0.07,-0.08,-0.01,1.00,0.05,0.03,0.03,0.06,0.05,0.03,...,0.01,0.07,0.08,0.03,0.06,0.06,0.01,0.03,0.02,-0.01
basketball,0.07,0.02,-0.02,0.05,1.00,0.18,0.07,0.12,0.14,0.03,...,0.02,0.07,0.07,0.08,0.04,0.03,0.02,0.02,0.02,0.03
football,0.03,0.13,-0.02,0.03,0.18,1.00,0.06,0.05,0.06,0.04,...,0.03,0.07,0.06,0.07,0.06,0.04,0.02,0.02,0.04,0.03
soccer,0.06,-0.01,-0.01,0.03,0.07,0.06,1.00,0.01,0.03,0.04,...,0.02,0.02,0.05,0.02,0.03,0.02,0.01,0.00,0.01,0.01
softball,0.05,-0.10,-0.02,0.06,0.12,0.05,0.01,1.00,0.12,0.02,...,0.01,0.03,0.05,0.05,0.02,0.02,0.01,0.02,0.01,0.02
volleyball,0.06,-0.08,-0.02,0.05,0.14,0.06,0.03,0.12,1.00,0.04,...,0.01,0.04,0.08,0.03,0.04,0.04,0.00,0.01,0.00,0.01
swimming,0.04,-0.05,-0.00,0.03,0.03,0.04,0.04,0.02,0.04,1.00,...,0.02,0.05,0.12,0.07,0.05,0.06,0.02,0.02,0.03,0.03
cheerleading,0.04,-0.09,-0.02,0.05,0.04,0.09,0.01,0.03,0.02,0.02,...,0.02,0.06,0.11,0.05,0.09,0.08,0.01,0.01,0.02,0.02
baseball,0.03,0.15,-0.01,0.03,0.13,0.18,0.03,0.05,0.02,0.03,...,0.02,0.02,-0.00,0.03,0.02,0.01,0.01,0.00,0.01,0.02
tennis,0.00,0.01,0.00,0.01,0.04,0.03,0.03,-0.00,0.03,0.03,...,0.01,0.01,0.03,0.02,0.03,0.04,0.01,0.01,0.01,0.01
sports,0.04,0.05,-0.02,0.01,0.17,0.15,0.09,0.11,0.09,0.04,...,0.01,0.04,0.04,0.09,0.04,0.06,0.06,0.04,0.06,0.11
cute,0.03,-0.16,-0.01,0.07,0.04,0.07,0.03,0.03,0.04,0.05,...,0.03,0.15,0.17,0.14,0.09,0.08,0.08,0.08,0.07,0.06
sex,-0.01,-0.02,0.00,0.00,0.04,0.06,0.01,0.03,0.01,0.03,...,0.14,0.05,0.04,0.11,0.05,0.05,0.14,0.11,0.17,0.20
sexy,0.04,-0.06,-0.01,0.03,0.03,0.03,0.02,0.01,0.01,0.00,...,0.03,0.04,0.03,0.06,0.03,0.03,0.06,0.04,0.07,0.05
hot,0.06,-0.08,-0.02,0.04,0.04,0.05,0.03,0.02,0.03,0.04,...,0.01,0.09,0.08,0.08,0.08,0.07,0.03,0.02,0.03,0.03
kissed,0.02,-0.04,-0.01,0.02,0.06,0.07,0.03,0.03,0.02,0.06,...,0.03,0.09,0.06,0.20,0.08,0.09,0.17,0.09,0.20,0.23
dance,0.05,-0.09,-0.02,0.05,0.05,0.06,0.01,0.02,0.02,0.03,...,0.01,0.07,0.10,0.09,0.05,0.05,0.07,0.06,0.05,0.04
band,0.00,0.02,-0.00,0.02,0.01,0.04,0.00,0.01,-0.01,0.02,...,0.01,0.02,0.02,0.05,-0.00,0.00,0.05,0.04,0.03,0.05
marching,-0.02,0.01,-0.00,0.01,-0.00,0.02,-0.01,0.01,-0.01,0.01,...,0.00,-0.00,-0.00,0.02,-0.02,-0.01,0.01,0.01,-0.00,0.01
music,0.01,-0.03,0.00,0.03,0.06,0.07,0.03,0.03,0.02,0.07,...,0.02,0.08,0.11,0.15,0.06,0.06,0.12,0.09,0.08,0.13
rock,0.04,0.00,-0.00,0.02,0.08,0.09,0.05,0.02,0.02,0.04,...,0.05,0.08,0.04,0.10,0.03,0.03,0.11,0.08,0.07,0.09
god,-0.01,-0.02,0.00,0.05,0.03,0.03,0.00,0.02,0.02,0.02,...,0.05,0.02,0.03,0.06,0.02,0.02,0.11,0.11,0.05,0.05
church,0.02,-0.03,0.01,0.06,0.06,0.05,0.03,0.04,0.03,0.03,...,0.01,0.09,0.10,0.08,0.01,0.01,0.03,0.03,0.02,0.04
jesus,0.01,0.01,0.02,0.03,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.00,0.01,0.02,0.00,0.01,0.04,0.06,0.00,0.02
bible,-0.01,0.01,0.00,0.01,0.02,0.01,0.01,0.00,0.01,0.02,...,0.00,-0.01,0.01,0.02,-0.00,-0.00,0.02,0.04,0.01,0.03
hair,0.06,-0.11,-0.02,0.03,0.10,0.10,0.05,0.05,0.04,0.07,...,0.12,0.18,0.14,0.29,0.15,0.15,0.21,0.14,0.20,0.29
dress,-0.04,-0.09,-0.01,0.04,0.03,0.04,0.01,0.02,0.02,0.02,...,0.03,0.10,0.13,0.11,0.05,0.05,0.06,0.05,0.05,0.05
blonde,0.01,-0.02,-0.00,0.01,0.02,0.03,0.02,0.01,0.01,0.02,...,1.00,0.02,0.02,0.03,0.02,0.02,0.07,0.08,0.10,0.02
mall,0.07,-0.09,-0.02,0.07,0.07,0.07,0.02,0.03,0.04,0.05,...,0.02,1.00,0.19,0.15,0.12,0.10,0.06,0.04,0.06,0.09
shopping,0.04,-0.21,-0.03,0.08,0.07,0.06,0.05,0.05,0.08,0.12,...,0.02,0.19,1.00,0.20,0.17,0.15,0.02,0.03,0.04,0.04
clothes,0.04,-0.08,-0.02,0.03,0.08,0.07,0.02,0.05,0.03,0.07,...,0.03,0.15,0.20,1.00,0.14,0.11,0.10,0.07,0.08,0.12
hollister,0.06,-0.05,-0.01,0.06,0.04,0.06,0.03,0.02,0.04,0.05,...,0.02,0.12,0.17,0.14,1.00,0.48,0.04,0.03,0.04,0.07
abercrombie,0.06,-0.05,-0.01,0.06,0.03,0.04,0.02,0.02,0.04,0.06,...,0.02,0.10,0.15,0.11,0.48,1.00,0.04,0.03,0.04,0.07
die,0.01,-0.01,0.00,0.01,0.02,0.02,0.01,0.01,0.00,0.02,...,0.07,0.06,0.02,0.10,0.04,0.04,1.00,0.19,0.12,0.19
death,0.00,-0.02,-0.00,0.03,0.02,0.02,0.00,0.02,0.01,0.02,...,0.08,0.04,0.03,0.07,0.03,0.03,0.19,1.00,0.08,0.09
drunk,-0.02,-0.02,0.00,0.02,0.02,0.04,0.01,0.01,0.00,0.03,...,0.10,0.06,0.04,0.08,0.04,0.04,0.12,0.08,1.00,0.19
drugs,0.01,-0.01,-0.00,-0.01,0.03,0.03,0.01,0.02,0.01,0.03,...,0.02,0.09,0.04,0.12,0.07,0.07,0.19,0.09,0.19,1.00

In [34]:
df.isna().sum()

gradyear           0
gender          2724
age             5086
friends            0
basketball         0
football           0
soccer             0
softball           0
volleyball         0
swimming           0
cheerleading       0
baseball           0
tennis             0
sports             0
cute               0
sex                0
sexy               0
hot                0
kissed             0
dance              0
band               0
marching           0
music              0
rock               0
god                0
church             0
jesus              0
bible              0
hair               0
dress              0
blonde             0
mall               0
shopping           0
clothes            0
hollister          0
abercrombie        0
die                0
death              0
drunk              0
drugs              0
dtype: int64

## 1. Data Wrangling

If you found in the last step that there are variables that need to be dealt with before we can start our analysis, please do it. Comment your code and take us through the steps of your thinking.  

Consider the some of these aspects:  
* Wrong data types
* Null values
* Consistency in categorical data

In [49]:
df['gender'].unique()

array(['M', 'F', nan], dtype=object)

In [25]:
#dict = {'M':1,'F':0}
#df['gender'] = df['gender'].replace(dict, regex=True)

In [50]:
df['gender'].unique()

array(['M', 'F', nan], dtype=object)

In [51]:
#Your code here:
df_teen = df[(df.age>=13) & (df.age<=20)].copy()

In [52]:
df_teen.shape

(24477, 40)

In [53]:
df_teen.isna().sum()

gradyear          0
gender          875
age               0
friends           0
basketball        0
football          0
soccer            0
softball          0
volleyball        0
swimming          0
cheerleading      0
baseball          0
tennis            0
sports            0
cute              0
sex               0
sexy              0
hot               0
kissed            0
dance             0
band              0
marching          0
music             0
rock              0
god               0
church            0
jesus             0
bible             0
hair              0
dress             0
blonde            0
mall              0
shopping          0
clothes           0
hollister         0
abercrombie       0
die               0
death             0
drunk             0
drugs             0
dtype: int64

In [54]:
df_teen.dropna(inplace=True)

In [55]:
df_teen.head()

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,2006,M,18.98,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2006,F,18.80,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2006,M,18.34,69,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2006,F,18.88,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2006,F,18.93,72,0,0,0,0,0,0,...,0,2,0,0,2,0,0,0,0,0

In [56]:
df_teen.dtypes

gradyear          int64
gender           object
age             float64
friends           int64
basketball        int64
football          int64
soccer            int64
softball          int64
volleyball        int64
swimming          int64
cheerleading      int64
baseball          int64
tennis            int64
sports            int64
cute              int64
sex               int64
sexy              int64
hot               int64
kissed            int64
dance             int64
band              int64
marching          int64
music             int64
rock              int64
god               int64
church            int64
jesus             int64
bible             int64
hair              int64
dress             int64
blonde            int64
mall              int64
shopping          int64
clothes           int64
hollister         int64
abercrombie       int64
die               int64
death             int64
drunk             int64
drugs             int64
dtype: object

## 2. Data Visualization

Now that the data is more or less fixed, plot some charts to understand better how it is composed:  
* Check distribution of variables - do we have outliers? What should we do with them?
* Understand which features are correlated - do they represent the same? Which ones should we keep?
* When we compare two variables, is it possible to see groups in the data?
* Given the dimension of the dataset, would it be useful to perform dimension reduction in some variables? Which ones would you group?

Comment your ideas based on the visualizations you made and other data exploration. What will be your next steps before modeling?

In [4]:
#Your code here:

## 3. Feature Engineering

Based on your previous conclusions, perform transformations in your features. Think about:  
* Category Encoding
* Outliers & Standardization
* Dimension Reduction
* Discard features that are less relevant to group the data

Why did you choose each method? Please explain your rationale.

In [5]:
#Your code here:

## 4. Modeling

Now that your data is ready, apply one (or more) unsupervised learning model to find the groups of teens that exist:
* What model did you choose?
* What is the optimal number of clusters?
* Once your clusters are defined, how do you interpret them? - What type of teens there are? What are the differences between them?

In [ ]:
#Your code here: